<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="../../../static/css/style.css">
  </head>
  <body>
    <div class="container my-5">
      <footer class="text-center text-lg-start" style="background-color: white;">
        <div class="container d-flex justify-content-center py-5">
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: black;">
            <a href="https://github.com/Aitooor" target="_blank"><i class="fab fa-github"></i></a>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: black;">
            <i class="fab fa-instagram"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: black;">
            <i class="fab fa-discord" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: black;">
            <i class="fab fa-twitter"></i>
          </button>
        </div>

        <hr>

        <div class="text-center text-black p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <b><a class="text-black" href="/">Aitor Arias</a>
            © 2023 </b>
        </div>
      </footer>
    </div>
  </body>
</html>