<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aitor Arias Beneitez</title>
        <link rel="stylesheet" th:href="@{/css/cookie.css}">
    </head>
    <body>
        <!-- Cookie Banner -->
        <div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
            🖥️ This website uses cookies to ensure you get the best experience on our website.
            <a href="https://www.cookiesandyou.com/" target="blank">Learn more</a>
            <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
                I Got It
            </button>
        </div>
        <!-- End of Cookie Banner -->

        <script th:src="@{/js/cookie.js}"></script>
    </body>
</html>